.header {
    flex: 1 1 0%;

    display: flex;
    align-items: center;
    gap: .5em;

    background-color: #333333;
    padding: 8px 16px;

    color: #eeeeee;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 23px;
}

.header i {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-bottom: 12px;
}
